body {
    font-family: 'Montserrat', sans-serif;
    background-color: #5D6D7E;
    color: #ECEFF1;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ECEFF1;
    margin-top: 50px;
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
}

#actors {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Space between actors */
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%; /* Adjust as needed */
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* This makes the image round */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    border: 2px solid #000000; /* A white border around the image */
}

#actors img:hover {
    transform: scale(1.1); /* Enlarges the image slightly when hovered */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increases the shadow depth when hovered */
}

#actors img {
    position: static;
}

.group {
    display: flex;
    flex-wrap: wrap;  /* allow the images to wrap to the next line */
    justify-content: center;  /* center the images horizontally */
    align-items: center;      /* center the images vertically */
    min-height: 80px;  /* starting height */
    width: 180px;
    border: 3px dashed #cccccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.groups-container {
    display: flex;
    justify-content: center; /* This will center the .group elements horizontally */
    flex-wrap: wrap; /* Allows the .group elements to wrap to the next line if there's not enough space */
    gap: 20px; /* Sets a gap between the .group elements */
    width: 100%; /* ensures the container takes the full width available */
    }

.object-count {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.7);
    padding: 2px 5px;
    border-radius: 5px;
}


button {
    margin: 20px auto;
    padding: 10px 25px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 40px;
}
