body {
    font-family: 'Montserrat', sans-serif;
    background-color: #5D6D7E;
    color: #ECEFF1;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ECEFF1;
    margin-top: 50px;
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
}

#actors {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px; /* Espaço entre os atores */
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;  /* Centraliza o grid horizontalmente */
    align-items: center; /* centraliza verticalmente os filhos dentro de suas células de grid */
    justify-items: center; /* centraliza horizontalmente os filhos dentro de suas células de grid */
}


img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* This makes the image round */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* A subtle shadow for depth */
    border: 2px solid #000000; /* A white border around the image */
}

#actors img:hover {
    transform: scale(1.1); /* Enlarges the image slightly when hovered */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increases the shadow depth when hovered */
}

#actors img {
    position: relative;
    top: 10px;
    right: 0;     /* Move the image 10 pixels down */
}

.group {
    display: flex;
    flex-wrap: wrap;  /* allow the images to wrap to the next line */
    justify-content: center;  /* center the images horizontally */
    align-items: center;      /* center the images vertically */
    min-height: 80px;  /* starting height */
    width: 180px;
    border: 3px dashed #cccccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.groups-container {
    display: flex;
    justify-content: center; /* This will center the .group elements horizontally */
    margin-top: 40px;  /* Adiciona margem no topo */
    margin-bottom: 40px;  /* Adiciona margem na base */
    flex-wrap: wrap; /* Allows the .group elements to wrap to the next line if there's not enough space */
    gap: 20px; /* Sets a gap between the .group elements */
    width: 100%; /* ensures the container takes the full width available */
    }

.object-count {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.7);
    padding: 2px 5px;
    border-radius: 5px;
}


button {
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: #751754;
    color: #080000;
    background-color: #B66C9C;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a18f9a;
}

#feedback {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#customMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #B66C9C;
    border: 3px solid #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}
